/* PRIMARY STRUCTURE */

html, body {
  min-height: 100%;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  background-color: #b4b4b4;
  color: #787878;
  font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: 20px;
  line-height: 1.5;
  background-attachment: fixed;
  background-size: auto;

}

/* HEADER */

#name h2 {
  color: #808080;
}


.link {
  font-size: 20px;
}

.site-pic {
  width: 100%;
  height: auto;
}

.project-box {
  background-color: #F4F0F1;
  border-radius: 15px;
  border: 15px solid #24355F;
  overflow: hidden;
  font-size: 10px;
  height: auto;
  padding-bottom: 30px;
  margin-bottom: 10px;
}

.project-box p {
  padding: 10px;
}

hr.style-one {
    border: 0;
    height: 1px;
    width: auto;
    background: #333;
    background-image: -webkit-linear-gradient(left, #ccc, #333, #ccc); 
    background-image:    -moz-linear-gradient(left, #ccc, #333, #ccc); 
    background-image:     -ms-linear-gradient(left, #ccc, #333, #ccc); 
    background-image:      -o-linear-gradient(left, #ccc, #333, #ccc); 
}

hr.style-two {
  border: 0;
  height: 1px;
  width: auto;
  background: #d6d6d6;
  background-image: -webkit-linear-gradient(left, #24355F, #d6d6d6, #24355F); 
  background-image:    -moz-linear-gradient(left, #24355F, #d6d6d6, #24355F); 
  background-image:     -ms-linear-gradient(left, #24355F, #d6d6d6, #24355F); 
  background-image:      -o-linear-gradient(left, #24355F, #d6d6d6, #24355F); 
}

.about-box {
  color: white;
}

#about-me {
  text-align: center;
}

.fa:hover {
    color: #24355F;
}

#quote {
  font-size: 20px;
  font-family: 'Open Sans Condensed', sans-serif;
}

a,
a:hover,
a:focus,
a:active,
a.active {
    outline: 0;
    color: #000;
}

ul.find-me-list {
  padding: 30px;
}

/* SECTIONS */

section.module h2 {
  font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: 25px;
  padding-top: 50px;
}

section.module.parallax.title h2 {
  padding-top: 20px;
}

section.module p {

  font-size: 25px;
  font-weight: 300;
}

section.content {
  height: 100%;
  background: white;
  overflow: hidden;
  padding-bottom: 40px;
}

section.contact {
  overflow: hidden;
}

section.about {
  background: #24355F;
  overflow: hidden;
  padding-bottom: 40px;
}

/* TITLE PAGE  */

section.module.parallax {
  min-height: 100%;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
section.module.parallax h1 {
  color: rgba(255, 255, 255, 0.8);
  font-size: 8rem;
  font-weight: 700;
  text-transform: uppercase;
  text-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  margin-bottom: 2%;
}

section.module.parallax #name {
  width: 65%;
  padding: 20% 0 0 2%;
  text-align: center;
}

section.module.title {
  background-image: url("../images/kelsey_woodard2.jpg");
  height: 100vh;
}

